aiofiles==24.1.0
APScheduler==3.6.3
beautifulsoup4==4.12.3
bleach==6.2.0
bs4==0.0.2
cachetools==4.2.2
charset-normalizer==3.4.0
emoji==2.14.0
frozenlist==1.5.0
future==1.0.0
gpytranslate==1.5.1
jikanpy==4.3.2
markdown2==2.5.1
pillow==11.0.0
propcache==0.2.0
psutil==6.1.0
psycopg2==2.9.10
pyrate-limiter==2.10.0
Pyrogram==2.0.106
PySocks==1.7.1
python-telegram-bot==13.15
requests==2.32.3
speedtest==0.0.1
SQLAlchemy==1.4.46
telegraph==2.2.0
Telethon==1.37.0
TgCrypto==1.2.5
urllib3==1.26.15
webcolors==24.8.0
webencodings==0.5.1
wheel==0.44.0
wikipedia==1.4.0
yarl==1.17.1
