aiofiles
aiohttp>=2.2.5
apscheduler
bleach
beautifulsoup4
currencyconverter
emoji==1.7.0
feedparser
future
jikanpy
git+https://github.com/python-telegram-bot/ptbcontrib.git
gitpython
gpytranslate
markdown2
pillow>=4.2.0
psutil
psycopg2-binary
pyrate-limiter
pyrogram
python-telegram-bot==13.9
requests
spamwatch
speedtest-cli
sqlalchemy==1.4.11
telethon==1.24.0
telegraph
wikipedia
webcolors==1.12
tgcrypto
